
main {
    padding: 4vh 4vw 4vh 4vw;
}
.annNavBack{
    width: 26vw;
    display: flex;
    justify-content: space-between;
    font-family: "Prompt", sans-serif;
    font-weight: 100;
}
.middleContent{
    display: flex;
    justify-content: space-between;
    height: 80vh;
}
.leftBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0px 20px 0px 20px;
    background-color: white;
    height: 80%;
    width: 40%;
}
.leftBlock .annInfo{
    padding: 0px 20px 0px 20px;
}
.leftBlock .annInfo h2{
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    margin-bottom: 0;
}
.leftBlock .annInfo p{
    font-family: "Prompt", sans-serif;
    font-weight: 100;
    margin-top: 0.1em;
}
.leftBlock .annContact{
    margin: 0px 20px 20px 20px;
}
.leftBlock .annContact .userProfil{
    background-color: beige;
display: flex;
justify-content: left;
align-items: center;
height: 14vh;
}

.leftBlock .annContact .phone{
    background-color: beige;
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    }

.leftBlock .annContact .userProfil div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .leftBlock .annContact .userProfil p{
        margin-left: 2vw;
        margin-top: 0px;
        }
.leftBlock .annContact h2{
    margin-top: 0;
margin-left: 2vw;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    margin-bottom: 0;
}

.leftBlock .annContact .userProfil i{
    font-size: 4em;
    }

.rightBlock{
    border-radius: 20px 0px 20px 0px;
    margin-left: 2vw;
    background-color: white;
    height: 80%;
    width: 80%;
}