@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500&display=swap');

/*GŁOWNE STYLE*/
*{
    margin: 0px;
    padding: 0;
    font-family: "Prompt", sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

/*STYLE DO SEKCJI NAWIGACJI DASHBOARD'A*/
.container .navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #282828;
    width: 15%;
    height: 100vh;
}

.container .navigation button {
    display: flex;
    margin-left: 2%;
    padding: 2vh;
    width: 80%;
    color: #fff;
    font-size: 170%;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #282828;
}

.container .navigation button:hover{
    background-color: #fff;
    color: #282828;
    width: 100%;
    border-radius: 50px 0px 0px 50px;
    cursor: pointer;
}




/*STYLE DO SEKCJI GŁOWNEJ DASHBOARDA (OGŁOSZENIA)*/
.content{
    display: flex;
    justify-content: space-evenly;
    margin: 1%;
    width: 80%;
    margin: auto;
    height: 90vh;
    background-color: aliceblue;
    border-radius: 2%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.tab-content{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    width:80%;
    height:80vh;
    position:absolute;
    top:7rem;
    display: none;
    
}

.tab-content-active{
    display:flex;
}

.content form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
    margin-top: auto;
    margin-bottom: auto;
}

form select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    box-shadow:none;
    background: #282828;
    opacity: 80%;
    background-image: none;
    padding: .3em;
    color:#ffffff;
    cursor:pointer;
    font-size: 1.5em;
}

form label{
    cursor: pointer;
}

label{
    display: inline-block;
    background-color: #282828;
    color: white;
    padding: 0.5rem;
    border-radius: 0.3rem;
    opacity: 80%;
    cursor: pointer;
    margin: auto;
    width: 95%;
}

form input{
    margin-top: 5%;
}
label{
    margin-top: 5%;
}
textarea{
    margin-top: 5%;
}

form input[type=submit]{
    color: #fff;
    background: #3a9b21;
    border: none;
    margin-left: auto;
    margin-right: auto;
    opacity: 80%;
    width: 30%;
    font-size: 160%;
    text-transform: uppercase;
    border-radius: 50px;
    cursor: pointer;
}

form input[type=text]{
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border: none;
    font-size: 120%;
}

form input[type=number]{
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border: none;
    font-size: 120%;
}

form input[type=tel]{
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border: none;
    font-size: 120%;
}

textarea {
    width: 100%;
    height: 15vh;
    padding: 5px 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 100%;
}

/*KONTO*/

.logreg{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 90%;
    width: 90%;
}

.logreg .login input{
    border: none;
    border-bottom: 1px solid #282828;
    box-shadow: none;
    font-weight: 500;
    height: 7vh;
    margin: 5%;
    font-size: medium;
    opacity: 0.6;
}

.logreg .register input{
    border: none;
    border-bottom: 1px solid #282828;
    box-shadow: none;
    font-weight: 500;
    height: 7vh;
    margin: 5%;
    font-size: medium;
    opacity: 0.8;
}

.logreg input:focus{
    outline: none;
    color: #282828;
    opacity: 1;
}



.logreg button {
    background-image: linear-gradient(to right, #614385 0%, #516395  51%, #614385  100%)
}

.logreg button {
    border: none;
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    display: block;
}

.logreg button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.logreg .line{
    margin-top: auto;
    margin-bottom: auto;
    top: 80px;
    height: 80%;
    width: 0.1%;
    background-color: #ccc;
}

.logo {
    position: absolute;
    top: -90px;
}

.dashboardEditAnn{
    height: 25vh;
    width: 90%;
    display: flex;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5%;
    border-bottom: 1px solid #282828;
}

.dashboardEditAnn form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.dashboardEditAnn form img{
    object-fit: cover;
    width: 10%;
    height: 80%;
    border-radius: 4%;
}

.dashboardEditAnn form input{
    color: black;
    width: 10%;
    border: none;
    border-bottom: 1px solid #282828;
    box-shadow: none;
    font-weight: 400;
    height: 7vh;
    font-size: medium;
    background-color: transparent;
    text-align: center;
}

.dashboardEditAnn form textarea{
    width: 20%;
    height: 50%;
    background-color: transparent;
    opacity: 0.6;
}

.dashboardEditAnn form textarea:focus{
    outline: none;
}

.dashboardEditAnn form input:focus{
    outline: none;
}


.dashboardEditAnn form button{
  background-color: #614385;
  border-radius: 100px;
  box-shadow: rgba(167, 124, 216, 0.096) 0 -25px 18px -14px inset,rgba(117, 53, 146, 0.15) 0 1px 2px,rgba(82, 32, 146, 0.15) 0 2px 4px,rgba(93, 22, 126, 0.15) 0 4px 8px,rgba(86, 9, 109, 0.15) 0 8px 16px,rgba(47, 3, 77, 0.15) 0 16px 32px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.dashboardEditAnn form button:hover{
    box-shadow: rgba(37, 12, 27, 0.35) 0 -25px 18px -14px inset,rgba(71, 13, 33, 0.25) 0 1px 2px,rgba(71, 10, 60, 0.25) 0 2px 4px,rgba(61, 3, 47, 0.25) 0 4px 8px,rgba(54, 1, 28, 0.25) 0 8px 16px,rgba(1, 19, 8, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}


.editContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    margin: auto;
    margin-bottom: 5%;
    width: 90%;
}


.accountContent{
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin: auto;
    width: 90%;
    height: 60%;
}
.accountContent .leftContent{
    width: 30%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.accountContent .leftContent .icon{
    font-size: 12rem;
}

.accountContent .leftContent span{
    font-size: 150%;
    margin-top: -20%;
}

.accountContent .rightContent{
    margin-left: 2%;
}

.accountContent .rightContent form label{
    background: none;
    color: #282828;
    text-align: left;
    font-weight: 500;
    font-size: 120%;
    width: 5vw;
    cursor: default;
    width: 40%;
    margin-left: 0%;
}

.accountContent .rightContent form input{
    background-color: none;
    box-shadow: none;
    font-size: 110%;
    border: none;
    text-align: left;
    margin-left: 20%;
    width: 60%;
}

.accountContent .rightContent form {
    display: flex;
    justify-content: flex-start;
}

.accountContent .rightContent form .accountInf{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.accountContent .rightContent form .interractionAcc {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.accountContent .rightContent form .interractionAcc button{
    background: none;
    font-size: 105%;
    color: #282828;
    cursor: pointer;
    margin-right: 0%;
    text-align: right;
    text-decoration: underline;
    text-transform: uppercase;
}

.accountContent .rightContent form .interractionAcc button:hover{
    color: red;
}













