@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500&display=swap');

/*GŁOWNE STYLE*/
*{
    margin: 0px;
    padding: 0;
    font-family: "Prompt", sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

/*STYLE DO SEKCJI NAWIGACJI DASHBOARD'A*/
.container .navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #282828;
    width: 15%;
    height: 100vh;
}
.container .navigation ul{
    height: 80%;
    justify-content: space-evenly;
    justify-content: center;
}

.container .navigation ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.container .navigation ul li{
    width: 95%;
}

.container .navigation ul li a {
    text-decoration: none;
    position: relative;
    display: block;
    padding: 2vh;
    width: 100%;
    color: #fff;
    font-size: 180%;
    justify-content: center;
}

.container .navigation ul li a:hover{
    background-color: #fff;
    color: #282828;
    border-radius: 50px 0px 0px 50px;
}


/*STYLE DO SEKCJI GŁOWNEJ DASHBOARDA (OGŁOSZENIA)*/
.dasOption{
    display: flex;
    justify-content: space-evenly;
    margin: 1%;
    width: 80%;
    margin: auto;
    height: 90vh;
    background-color: aliceblue;
    border-radius: 2%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.announcements{
    display: flex;
    justify-content: center;
    align-items: center;
}

.announcements form{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

form select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    box-shadow:none;
    background: red;
    opacity: 80%;
    background-image: none;
    padding: .3em;
    color:#ffffff;
    cursor:pointer;
    font-size: 1.5em;
}

form label{
    cursor: pointer;
}

label{
    display: inline-block;
    background-color: #282828;
    color: white;
    padding: 0.5rem;
    border-radius: 0.3rem;
    opacity: 80%;
    cursor: pointer;
    margin: auto;
    width: 95%;
}

form input[type=submit]{
    color: #fff;
    background: #3a9b21;
    border: none;
    margin-left: auto;
    margin-right: auto;
    opacity: 80%;
    width: 30%;
    font-size: 160%;
    text-transform: uppercase;
    border-radius: 50px;
    cursor: pointer;
}

form input[type=text]{
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border: none;
    font-size: 120%;
}

form input[type=number]{
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border: none;
    font-size: 120%;
}

form input[type=tel]{
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border: none;
    font-size: 120%;
}

textarea {
    width: 100%;
    height: 15vh;
    padding: 5px 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 100%;
}

















