@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500&display=swap');

/*GŁOWNE STYLE*/
*{
    margin: 0px;
    padding: 0;
    font-family: "Prompt", sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

/*STYLE DO SEKCJI NAWIGACJI DASHBOARD'A*/
.container .navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #282828;
    width: 15%;
    height: 100vh;
}

.container .navigation button {
    display: flex;
    margin-left: 2%;
    padding: 2vh;
    width: 80%;
    color: #fff;
    font-size: 170%;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #282828;
}

.container .navigation button:hover{
    background-color: #fff;
    color: #282828;
    width: 100%;
    border-radius: 50px 0px 0px 50px;
    cursor: pointer;
}




/*STYLE DO SEKCJI GŁOWNEJ DASHBOARDA (OGŁOSZENIA)*/
.content{
    display: flex;
    justify-content: space-evenly;
    margin: 1%;
    width: 80%;
    margin: auto;
    height: 90vh;
    background-color: aliceblue;
    border-radius: 2%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.tab-content{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    width:90%;
    height:80vh;
    position:absolute;
    top:7rem;
    display: none;
}

.tab-content-active{
    display:flex;
}

.content form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80%;
    margin-top: auto;
    margin-bottom: auto;
}

form select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    box-shadow:none;
    background: #282828;
    opacity: 80%;
    background-image: none;
    padding: .3em;
    color:#ffffff;
    cursor:pointer;
    font-size: 1.5em;
}

form label{
    cursor: pointer;
}

label{
    display: inline-block;
    background-color: #282828;
    color: white;
    padding: 0.5rem;
    border-radius: 0.3rem;
    opacity: 80%;
    cursor: pointer;
    margin: auto;
    width: 95%;
}

form input[type=submit]{
    color: #fff;
    background: #3a9b21;
    border: none;
    margin-left: auto;
    margin-right: auto;
    opacity: 80%;
    width: 30%;
    font-size: 160%;
    text-transform: uppercase;
    border-radius: 50px;
    cursor: pointer;
}

form input[type=text]{
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border: none;
    font-size: 120%;
}

form input[type=number]{
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border: none;
    font-size: 120%;
}

form input[type=tel]{
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border: none;
    font-size: 120%;
}

textarea {
    width: 100%;
    height: 15vh;
    padding: 5px 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 100%;
}

















